@page
@model WebApplication2.Pages.TeaSets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TeaSet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeaSet.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeaSet.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeaSet.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeaSet.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeaSet.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeaSet.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TeaSet.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TeaSet.ImagePath)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TeaSet.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
