@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h3 class="mt-5 mb-3">Login Form</h3>
@Model.Msg

<form method="post" asp-page="Index" style="display: grid;  grid-gap: 15px; padding: 20px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); #E2E2E2); padding: 20px;">
    <div class="mb-3">
        <label for="username" class="col-sm-2 control-label">Username:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="username" asp-for="@Model.username">
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="col-sm-2 control-label">Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="password" asp-for="@Model.password">
        </div>
    </div>
    <div class="mb-3">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Login" class="btn btn-dark">
        </div>
    </div>
</form>

@*
<form method="post" asp-page="Index">
    <label>Username: </label>
    <input type="text" asp-for="@Model.username" />
    <br />
    <label>Password: </label>
    <input type="password" asp-for="@Model.password" />
    <br />
    <input type="submit" value="Login" />
</form>
*@